.chat-input-container {
  display: flex;
  padding: 30px 30px 30px 10px;
  margin: 0px 40px 30px 40px;
  align-items: center;
  justify-content: center;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 20px;
  background-color: #ebeffb;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: #82C2FD;
  color: rgb(10, 10, 10);
  cursor: pointer;
}
