@font-face {
  font-family: "PRETENDARD-REGULAR";
  src: url("../../assets/fonts/PRETENDARD-REGULAR.OTF") format("opentype");
}

.logout-button {
  color: #82c2fd;
  width: 100px;
  position: absolute;
  cursor: pointer;
}
.btn-text {
  font-family: "PRETENDARD-REGULAR" !important;
}
