.container {
  width: 510px;
  position: absolute;
}

.login-form {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;

  color: #333333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chatLogo {
  position: absolute;
  width: 50px;
  height: 20px;
  bottom: 320px;
  display: flex;

  align-items: center;
}

.container h1 {
  margin-bottom: 30px;
  font-size: 20px;
}

.google:hover {
  cursor: pointer;
}

.socialBox {
  margin-top: 30px;
  .google {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    width: 360px;
    height: 50px;

    background: #333333;
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 1;

    box-sizing: border-box;
    .googleLogo {
      width: 30px;
      height: 31px;
      margin-right: 2px;
    }
    .googleText {
      height: 20px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      text-align: center;
      letter-spacing: 0.3px;
      color: #ffffff;
      order: 1;
      flex-grow: 0;
    }
  }
}
