@font-face{
  font-family: "PRETENDARD-REGULAR";
  src: url("../../assets/fonts/PRETENDARD-REGULAR.OTF")format("opentype");
}

.sidebar {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid grey;
  font-family: 'Pretendard';
}
.newchat {
  display: flex;
 justify-content:space-between;
 align-items: center;
 border-bottom: 1px solid grey;
 padding: 10px;

}
.news-chat-text{
  margin-left: 15px;
  font-family: "PRETENDARD-REGULAR";
}

.new-chat-button {
  border: none;
  padding: 5px;
  width: 40px;
  cursor: pointer;
 font-size: 25px;
  background-color: #fff;
  margin-right: 15px;
}


.logout-button {
background-color: #82C2FD;
width: 90px;
padding: 10px;
border-radius: 10px;
border: none;
position: relative;
cursor: pointer;
left:70%;

}

.chat-history {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.chat-record {
  margin-bottom: 10px;
}

.chat-record-header {
  font-weight: bold;
  margin-bottom: 5px;
}


